# Build
build/
build-*/
out/
cmake-build-*/
CMakeUserPresets.json
compile_commands.json

# Artefak
*.o
*.a
*.so
*.so.*
*.dylib
*.dll
*.exe
*.out
*.gcda
*.gcno
*.gcov

# Editor / IDE
.vscode/
.idea/
*.swp
*~
.cache/

# Key & data uji (jangan pernah di-commit)
*.key
*.pub
*.enc
*.sig
!tests/fixtures/*.sig
!tests/fixtures/*.key
!tests/fixtures/*.pub

# OS
.DS_Store
Thumbs.db
